.t-secret2:hover picture:last-of-type {
	display: block;
}

.t-secret2:hover picture:first-of-type {
	display: none;
}

.t-secret2 picture:last-of-type {
	display: none;
}

.t-secret2:hover figcaption::after {
	content: "Bello :p";
}

.t-secret2 figcaption::after {
	display: block;
	content: "Wagner :p";
}