.prose {
	--_max-width: var(--prose-wrapper-width, 768px);
	--_padding-inline: var(--prose-wrapper-padding-inline, 1rem);
	--_fs: var(--prose-font-size, clamp(1rem, 5vw - 1rem, 1.5rem));

	width: min(var(--_max-width), 100%);
	margin-inline: auto;
	padding-inline: var(--_padding-inline);
	font-size: var(--_fs);
}

/*
	Sumário: text align left!
*/
.prose :not(h1, h2, h3, h4, h5, h6, #c-sumario, #c-sumario *, figure, figcaption) {
	text-align: justify;
}

.prose article {
	scroll-margin-top: 80px;
}

.prose figure {
	text-align: center;
}

.prose figcaption {
	font-size: .8em;
}

.prose img {
	width: 100%;
}